*{
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.play-area{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(3,auto);
}

.unit{
    height: 100px;
    width: 100px;
    background: lightblue;
    border: 2px solid orange;
}

.unit:first-child,
.unit:nth-child(2),
.unit:nth-child(3){
    border-top: 0;
}

.unit:nth-child(3n+1){
    border-left: 0;
}

.unit:nth-child(3n+3){
    border-right: 0;
}

.unit:last-child,
.unit:nth-child(7),
.unit:nth-child(8){
    border-bottom: 0;
}






